.datacard {
  padding: 10px;
  border: 1px solid black;

}

table.melee,
table.ranged {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

table.ranged td:first-child,
table.melee td:first-child {
  text-align: left;
  width: 50%;
}

table.ranged tr:nth-child(even),
table.melee tr:nth-child(even) {
  background-color: lightgrey;
}

table.stats {
  text-align: center;
}

table.melee>thead,
table.ranged>thead,
table.stats>thead {
  text-transform: uppercase;
  font-weight: bold;

}

table.melee>thead td,
table.ranged>thead td {
  padding: 5px;
}

.datacard h1 {
  margin-top: 0;
  padding: 5px;
  color: white
}

span.small {
  font-size: small;
}

ul.keywords {
  list-style: none;
  margin: 0 0 5px 0;
  padding: 0;
  display: inline-block;
}

ul.keywords li {
  display: inline-block;
}

.keyword {
  border: 1px dashed grey;
  background-color: #f7f7f7;
  color: black;
  border-radius: 3px;
  padding: 2px 3px;
  margin-right: 5px;
  line-height: 1rem;
}